*{
    margin:0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #e7e2e2;
    color: #4800ff;
}

p{line-height: 20pt;}


#header{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-color:rgb(230, 230, 230);
    background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container{
    padding: 10px 10%;
    max-width: 600px;
        margin:0 auto;
}

.read-more-button {
    margin-left: 45%;
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: #4800ff!important;
}

.container .header-section .paragraph{
    margin-left: 10px;
    font-size: 10px;
    margin-top: -20px;
    color: #4800ff;
}


.titlename{
    font-size: 30px;
    margin: 10px;
    color: #4800ff;
    cursor: pointer;
}

.titlename p{
    font-size: 10px;
    margin: -10px;
    margin-left: 0px;
    color: #4800ff;
}

nav{
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none!important;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 2.5px;
    background-color: #4800ff!important;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;
    margin-left: 100px;
}

.header-text h1{
    font-size: 100px;
    margin-top: 20px;
    text-align: center;
}

.header-text h2{
    text-align: center;
    font-size: 80px;
    margin-top: 10px;
    color: #4800ff;
}

span#words {
    font-weight: bolder;
    color: #4800ff;
}


.header-text .btn{
    font-size: 15px;
    margin: auto;
    margin-top: 20px;
    color: #4800ff;
    display: block;
    width: fit-content;
    border: 1px solid #000000;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: background 0.3s;
}

.header-text .btn:hover{
    background: #4800ff;
    color: #fff;
}

.who-we h1{
    text-align: center;
    color: #4800ff;
    margin: 20px;
}

.who-we p{
    text-align: center;
    color: #000000;
    font-size: 17px;
}

/* -------our work------ */

.ourwork{
    width: 100%;
    height: 100vh;
}

.ourwork .title{
    color: #4800ff;
    margin-top: 40px;
}

.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}

.box:hover{
    background:#4800ff;
}

.box:hover p, .box:hover h1, .box:hover h2{
    color: white;
}

/* .carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;
}

.carousel-indicators li{
    background-color: #4800ff!important;
} */

.box a{
    position: relative;
}

.box a img{
    width: 320px;
    height: 170px;
    margin-top: 20px;
    border-color: #ffffff;
}



.box h1{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}
.ourwork {
    width: 100%;
    height: 100vh;
    margin-bottom: -200px;
}


.box h2{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
}



/* --------contactus-------- */

.contactheading{
    text-align: center;
    margin-bottom: 20px;
    color: #4800ff;
}


.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #4800ff;
    margin-right: 15px;
    font-size: 25px;
}

.contact-left p a{
    color: #000000;
}


.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #000000;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a .linkedin{
    color: #4800ff;
}

.social-icons a:hover{
    color: #4800ff;
    transform: translateY(-5px);
}

.contact-right .btn.btn2{
    display: inline-block;
    background: #4800ff;
    color: #fff;
}


.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #e7e5e5;
    padding: 10px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;
}


form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #e2dddd;
    font-weight: 300;
}

/* -----------------css for small screen---------- */

nav .fas{
    display: none;
}


.loading {
    /* Styles for the loading state */
    pointer-events: none; /* Disable form interaction during loading */
    opacity: 0.7; /* Reduce opacity to indicate loading */
    position: relative; /* Enable relative positioning for the loading spinner */
  }
  
  .loading::after {
    /* Loading spinner styles */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    /* Animation for the loading spinner */
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }


@media (max-width: 768px){
    
    #header{
       background-image: url(images/mbbg.png);
    }

    .titlename{
        font-size: 30px;
        margin-top: 5px;
    }

    .titlename p{
        font-size: 10px;
    }

    .read-more-button {
    margin-left: 35%;
}

    .fa-ellipsis-h:before, .fa-ellipsis:before {
        margin-right: 20px;
        /* margin-top: 40px; */
        content: "\f141";
    }


    .header-text{
        margin-top: 25%;
        margin-left: 60px;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 30px;
        margin-left: -60px;
    }

    .header-text h2{
        font-size: 50px;
        margin-left: -60px;
    }

    

    nav .fas{
        display: block;
        font-size: 25px;
        margin-top: px;
        margin-right: 10px;
        
    }
    nav ul{
        background: #4800ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        color: #ffffff;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color: rgb(255, 255, 255);
        text-decoration: none!important;
        font-size: 18px;
        position: relative;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }


   #contact{
    margin-top: 800px;
    padding: 0 30px;
   }

   #contact .contactheading{
    margin-bottom: -10px;
   }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .container .contact-left{
        text-align: center;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .contact-right .btn{
        margin-left: 37%;
    }

.copyright{
        font-size: 10px;
        background-color: #fff;
    }

    
    
}


#msg{
    color: #4800ff;
    margin-top: -40px;
    margin-left: 120px;
}
